
<div class="row profile-wrapper">
  <div class="col-4">

    <div class="row greeting">
      <h2 id="greeting"></h2><h2> {{name}}!</h2>
    </div>

    <div class="row today">
      <h3>What would you like to do today?</h3>
      <div class="col">
        <a href="#" class="btn btn-primary" id="browseBtn">Browse Threads</a>
      </div>  
      <div class="col">
        <a href="#" class="btn btn-primary" id="createBtn">Create a Thread</a>
      </div>
    </div>
  </div>

  <div class="col-1"></div>
 
  <div class="col-7 your-threads">
    <h3>Your Threads:</h3>
    <div id="thread-template" type="text/x-handlebars-template">
      {{#each threads as |thread| }}
        <div class="row threads" data-category="{{thread.category}}">
          <div class="col-6">
            <h3>
              <a href="/threads/{{thread.id}}">{{thread.name}}</a>
            </h3>
            <h6>Category: {{thread.category}}</h6>
            <p>
              Created by {{thread.user.name}} on 
              <span for="img" aria-label="calendar">📅</span>
              {{format_date thread.date_created}}
            </p>
          </div>
          <div class="col-6">
            {{!-- <image src=`{{thread.image}}`></image> --}}
            <p>
              {{thread.description}}
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
 </div>




  {{!-- {{#if threads.length}}
  <div class="col-md-6 threads-list">
    <h3>Current Threads:</h3>

    {{#each threads as |threads|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/threads/{{threads.id}}">{{threads.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{threads.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

<script src="/js/profile.js"></script>
